
/* line 19 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/main.styl */

/* line 1 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 293 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 53 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_globals.styl */

/* line 53 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_globals.styl */

/* line 14 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/index.styl */

/* line 14 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/index.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/border.styl */

/* line 12 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/border.styl */

/* line 3 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/clearfix.styl */

/* line 31 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/color-image.styl */

/* line 6 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/flex.styl */

/* line 197 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/flex.styl */

/* line 94 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/gradients.styl */

/* line 94 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/config.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/iconic.styl */

/* line 9 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/iconic.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/image.styl */

/* line 27 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/overflow.styl */

/* line 23 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/overflow.styl */

/* line 9 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/positions.styl */

/* line 73 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/positions.styl */

/* line 15 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/reset.styl */

/* line 79 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/aliases.styl */

/* line 14 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 10 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/text/replace-text.styl */

/* line undefined : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/vendor.styl */

/* line 576 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/vendor.styl */

/* line 576 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/config.styl */

/* line 12 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/size.styl */

/* line 51 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_globals.styl */
.ir{direction:ltr;display:block;height:100%;overflow:hidden;text-align:left;text-indent:100%;white-space:nowrap;width:100%}
/* line 3 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/main.styl */

/* line 4 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/main.styl */
html,body{width:100%;margin:0 auto}
/* line 8 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/main.styl */
.contain{margin:0 auto;position:relative}
/* line 33 : /Users/cbarendsen/nomas/webcraft/mindcraft/node_modules/nib/lib/nib/size.styl */

/* line 33 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/home.styl */

/* line 1 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/home.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/home.styl */
#home-contents h1{font-size:150px}
/* line 4 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/home.styl */

/* line 4 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/about.styl */

/* line 1 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/about.styl */

/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/about.styl */
#about-contents h1{font-size:150px}
/* line 4 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/_pages/about.styl */

/* line 1 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/mobile.styl */
@media only screen and (max-device-width : 480px){
/* line 2 : /Users/cbarendsen/nomas/webcraft/mindcraft/src/styles/lib/mobile.styl */
html,body{width:100%;min-width:0;max-width:100%}}