+projectScript('vendor/modernizr-2.7.1.min.js')

- if ( build === 'prod' || build == 'almond' )
  +projectScript('vendor/jquery-1.10.2.min.js')
  +projectScript('vendor/jquery-migrate-1.1.1.min.js')
- else if ( build === 'dev' )
  +projectScript('vendor/jquery-1.10.2.js')
  +projectScript('vendor/jquery-migrate.js')
