include shared-mixins

//- From http://underscorejs.org, slightly modified.
//- Does *GLOBAL* _.capitalize mixin.
- _.mixin({capitalize: function(string) {return string.charAt(0).toUpperCase() + string.substring(1);}});
